<template>
    <div class="g-details">
        <div class="g-facet-container">
            <Facets v-if="$store.state.search"/>
        </div>
        <div class="g-active-file-outer" ref="activeFile" v-touch:swipe="swipe">
            <transition name="fade">
                <div class="g-active-file-inner" @click="toggleFullscreen" :key="activeFile && activeFile.name">
                    <MediaFile :thumbSpec="thumbSpec" layout="fit-box" v-if="activeFile != null"
                               :key="activeFile && activeFile.name" :file="activeFile" controls :videoThumbs="false"/>
                </div>
            </transition>
        </div>
        <div class="g-thumbnail-bar" ref="thumbnails">
            <SearchResult singleRow v-on:activeElement="scrollToElement"/>
        </div>
    </div>
</template>

<script lang="ts">
import { ACTIVATE_FILE, MOVE_TO_TRASH } from '../store/actions';
import { Component, Prop, Vue, Watch } from 'vue-property-decorator';
import store from '../store';
import { IMetadataEntry } from '@/api';
import MediaFile from '@/components/MediaFile.vue';
import SearchResult from '@/components/SearchResult.vue';
import router from '../router';
import screenfull from 'screenfull';
import debounce from 'lodash.debounce';
import { imageUrl } from '@/utils/imageUrl';
import { ActiveElementEvent } from '@/model/events';

@Component({ components: { MediaFile, SearchResult } })
export default class Details extends Vue {
  @Prop(String) private name!: string;

  // tslint:disable-next-line:no-unused-variable
  private imageCache: Array<HTMLImageElement | null> = [];

  private thumbSpec: string | null = '500x500';

  private fullScreen: boolean = false;

  private activeScrollTimeout: number | null = null;

  public updateThumbSpec(): void {
    if (this.fullScreen) {
      this.thumbSpec = null;
    } else {
      const bounds = (this.$refs.activeFile as Element).getBoundingClientRect();
      const width = Math.ceil(bounds.width / 400) * 400;
      const height = Math.ceil(bounds.height / 400) * 400;
      this.thumbSpec = `${width}x${height}`;
    }
    this.preloadImages();
  }

  @Watch('$route')
  public onRouteChange(to: string, from: string) {
    store.dispatch(ACTIVATE_FILE, this.name);
  }

  @Watch('activeFile')
  public preloadImages() {
    // Cache images around the active file
    this.imageCache = [0, 1, -1, -2, 2, -5, 5].map(index => {
      const file: IMetadataEntry | null = store.getters.fileRelativeToActiveFile(index);
      if (file && file.metadata.mimeType.match(/^image\//)) {
        const image = new Image();
        image.src = imageUrl(file, false, this.thumbSpec);
        return image;
      }
      return null;
    });
  }

  public mounted() {
    // Perform initial search
    store.dispatch(ACTIVATE_FILE, this.name);
    this.updateThumbSpec();
    (this.$refs.activeFile as HTMLElement).focus();
    if (screenfull.isEnabled) {
      screenfull.on('change', () => {
        if (screenfull.isEnabled) {
          this.fullScreen = screenfull.isFullscreen;
          this.updateThumbSpec();
        }
      });
    }
    this.updateThumbSpec = debounce(this.updateThumbSpec.bind(this), 500);
    window.addEventListener('resize', this.updateThumbSpec);

    this.globalKeyEventListener = this.globalKeyEventListener.bind(this);
    window.addEventListener('keyup', this.globalKeyEventListener);
  }

  public beforeDestroy() {
    window.removeEventListener('resize', this.updateThumbSpec);
    window.removeEventListener('keyup', this.globalKeyEventListener);
  }

  private globalKeyEventListener(event: KeyboardEvent) {
    switch (event.key) {
      case 'ArrowLeft':
        this.switchToRelativeFile(event.shiftKey ? -5 : -1);
        break;
      case 'ArrowRight':
        this.switchToRelativeFile(event.shiftKey ? 5 : 1);
        break;
      case 'Delete':
        if (this.$store.state.activeFile) {
          this.$store.dispatch(MOVE_TO_TRASH, this.$store.state.activeFile.name);
        }
    }
  }

  public get activeFile(): IMetadataEntry | null {
    return store.state.activeFile;
  }

  public toggleFullscreen(): void {
    if (screenfull.isEnabled) {
      screenfull.toggle(this.$refs.activeFile as Element);
    } else {
      document.exitFullscreen();
    }
  }

  public swipe(type: string) {
    switch (type) {
      case 'swiperight':
        return this.switchToRelativeFile(-1);
      case 'swipeleft':
        return this.switchToRelativeFile(1);
    }
  }

  public scrollToElement(event: ActiveElementEvent) {
    if (this.activeScrollTimeout != null) {
      window.cancelAnimationFrame(this.activeScrollTimeout);
      this.activeScrollTimeout = null;
    }
    const thumbView = this.$refs.thumbnails as HTMLElement;
    const containerRect = thumbView.getBoundingClientRect();
    // Position element in the middle
    const leftMargin = (containerRect.width - event.boundingBox.width) / 2;
    this.animateScroll(thumbView, thumbView.scrollLeft, event.boundingBox.x - leftMargin, 1000);
  }

  public switchToRelativeFile(increment: number) {
    const file = store.getters.fileRelativeToActiveFile(increment);
    router.push({ name: 'details', params: { name: file.name } });
  }

  private animateScroll(element: Element, from: number, to: number, totalTime: number, startTime?: number) {
    this.activeScrollTimeout = window.requestAnimationFrame(time => {
      startTime = startTime || time;
      if (time - startTime < totalTime) {
        const fraction = (time - startTime) / totalTime;
        const easedFraction = 1 - Math.pow(1 - fraction, 3);
        element.scrollLeft = from * (1 - easedFraction) + to * easedFraction;
        this.animateScroll(element, from, to, totalTime, startTime);
      } else {
        element.scrollLeft = to;
      }
    });
  }
}
</script>
