<template>
    <div class="g-files">
        <div class="g-facet-container">
            <Facets v-if="$store.state.search"/>
        </div>
        <div class="g-search-results">
            <SearchResult/>
        </div>
    </div>
</template>

<script lang="ts">
import SearchResult from '@/components/SearchResult.vue';
import { Component, Vue } from 'vue-property-decorator';
import store from '../store';
import { DEACTIVATE_FILE } from '@/store/actions';

@Component({ components: { SearchResult } })
export default class Files extends Vue {
  public mounted() {
    // Remove active file marker
    store.dispatch(DEACTIVATE_FILE);
  }
}
</script>
<style lang="scss">
.files > .searchResults {
  width: 100%;
}
</style>
