<template>
    <div class="upload">
        <h1>Upload files</h1>
        <FileUpload/>
    </div>
</template>

<script lang="ts">
import FileUpload from '../components/FileUpload.vue';

export default {
  name: 'Upload',
  components: { FileUpload },
};
</script>
