<template>
    <b-navbar type="light" variant="light">
        <b-nav-form>
            <Facet :facet="facet" v-for="facet in facets" :key="facet.id" />
        </b-nav-form>
        <b-nav-text>Files: {{$store.state.search.results.length}} / {{$store.state.search.context.total}}</b-nav-text>
    </b-navbar>
</template>
<script lang="ts">
import Facet from './Facet.vue';
import { Vue, Component } from 'vue-property-decorator';
import { IFacet } from '@/api';
import store from '../store';

@Component({
  components: { Facet },
})
export default class Facets extends Vue {
  public get facets(): IFacet[] {
    return store.state.search ? store.state.search.facets : [];
  }
}
</script>
