<template>
    <b-form-select v-model="selected" :options="options" class="mr-3" size="sm" />
</template>
<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { IFacet } from '@/api';
import store from '../store';
import { SEARCH } from '@/store/actions';

@Component({
  components: {},
})
export default class Facet extends Vue {
  @Prop({ type: Object, required: true })
  public facet!: IFacet;

  public selectedValue?: string | null = null;

  public get selected(): string | null | undefined {
    const activeValue = this.facet.values.find(value => value.active);
    return this.selectedValue || (activeValue && activeValue.value);
  }

  public set selected(selected: string | null | undefined) {
    this.selectedValue = selected;
    store.dispatch(SEARCH, {
      facets: {
        [this.facet.id]: this.selectedValue,
      },
    });
  }

  public get options() {
    return [
      { value: null, text: '---' },
      ...this.facet.values.map(value => {
        return {
          value: value.value,
          disabled: value.count === 0,
          text: `${value.value} (${value.count})`,
        };
      }),
    ];
  }
}
</script>
