<template>
  <div class="file-upload">
    <div class="fu-total-progress">Files completed: {{filesSucceeded.length + filesWithError.length}} of {{totalFiles}}</div>
    <div class="fu-dropping-notice" v-if="dropping">Started processing files</div>
    <vue-dropzone ref="dropzone" id="dropzone" :options="dropzoneOptions"
                  @vdropzone-total-upload-progress="handleUploadProgress"
                  @vdropzone-error="handleError"
                  @vdropzone-success="handleSuccess"
                  @vdropzone-file-added="handleFileAdded"
                  @vdropzone-drop="handleDrop"
    ></vue-dropzone>
    <div class="fu-done">
      <div class="fu-errored-files">
        <h2>Errors</h2>
        <div class="fu-errored-file" :key="file" v-for="file in filesWithError">{{file}}</div>
      </div>
      <div class="fu-succeeded-files">
        <h2>Succeeded</h2>
        <div class="fu-succeeded-file" :key="file" v-for="file in filesSucceeded">{{file}}</div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import vue2Dropzone from 'vue2-dropzone';
import 'vue2-dropzone/dist/vue2Dropzone.min.css';
import Vue from 'vue';

interface IFile {
  fullPath: string;
  name: string;
}

export default Vue.extend({
  name: 'FileUpload',
  components: {
    vueDropzone: vue2Dropzone,
  },
  data: () => {
    return {
      dropping: false,
      progressPercent: 0,
      totalFiles: 0,
      filesSucceeded: [] as string[],
      filesWithError: [] as string[],
      dropzoneOptions: {
        url: '/backend/files',
        maxFilesize: 100000,
        createImageThumbnails: false,
        acceptedFiles: 'image/jpeg,image/png,video/*',
        headers: { 'My-Awesome-Header': 'header value' },
        previewTemplate: `
          <div class="fu-preview">
                <div class="fu-filename"><span data-dz-name></span></div>
                <div class="fu-size"><span data-dz-size></span></div>
                <div class="fu-progress-container">
                    <div class="fu-progress">
                        <span class="fu-progress-indicator" data-dz-uploadprogress></span>
                    </div>
                </div>
                <div class="fu-error-message"><span data-dz-errormessage></span></div>
            </div>
        `,
        params: (files: any) => {
          return {
            modificationDate: new Date(files[0].lastModified).toISOString(),
          };
        },
      },
    };
  },
  methods: {
    handleUploadProgress(progressPercent: number) {
      this.progressPercent = progressPercent;
    },
    handleError(file: IFile, errorMessage: string) {
      this.filesWithError.push(`${file.fullPath || file.name} - ${errorMessage}`);
      this.removeFileAfterDelay(file, 100);
    },
    handleSuccess(file: IFile) {
      this.filesSucceeded.push(file.fullPath || file.name);
      this.removeFileAfterDelay(file, 100);
    },
    removeFileAfterDelay(file: object, timeoutMillis: number) {
      setTimeout(() => (this.$refs.dropzone as any).removeFile(file), timeoutMillis);
    },
    handleFileAdded() {
      this.totalFiles = this.totalFiles + 1;
    },
    handleDrop() {
      this.giveDropFeedback();
    },
    giveDropFeedback() {
      this.dropping = true;
      setTimeout(() => {
        this.dropping = false;
      }, 500);
    },
  },
  computed: {
    percentFilesUploaded() {
      return 0;
    },
  },
});
</script>
<style lang="scss">
@mixin cell {
  margin: 0.25rem;
}

.fu-preview {
  display: flex;
  border-bottom: 1px solid #aaa;

  .fu-filename {
    flex: 0 0 15%;
    @include cell();
  }
  .fu-size {
    flex: 0 0 10%;
    @include cell();
  }
  .fu-progress-container {
    flex: 0 0 30%;
    @include cell();
  }

  .fu-progress {
    border: 1px solid #aaa;
    border-radius: 0.5rem;
    height: 0.5rem;
    display: inline-block;
    width: 100%;
  }
  .fu-progress-indicator {
    background-color: green;
    height: 100%;
    width: 0;
    display: block;
  }

  &.dz-error .fu-progress-indicator {
    background-color: red;
  }

  .fu-error-message {
    flex: 0 0 auto;
    color: red;
    @include cell();
  }
}

.fu-total-progress {
  margin: 0.5rem;
}

.fu-done {
  display: flex;
}

.fu-errored-files,
.fu-succeeded-files {
  flex: 0 1 50%;
}
</style>
