<template>
    <div v-if="isVideo" :class="cssClasses">
        <video :controls="controls" class="thumbnail-img" v-if="isVideo" ref="video"
               v-on:mouseover="startVideo" v-on:mouseout="stopVideo" v-on:click="$emit('click')">
            <source :src="thumbnail" :type="file.metadata.mimeType">
            Your browser does not support the video tag.
        </video>
        <b-button size="sm" class="video-toggle" v-if="!controls && playing" v-on:click="stopVideo">
            <fa-icon :icon="$icons.faPauseCircle.iconName"/>
        </b-button>
        <b-button size="sm" class="video-toggle" v-if="!controls && !playing" v-on:click="startVideo">
            <fa-icon :icon="$icons.faPlayCircle.iconName"/>
        </b-button>
    </div>
    <div v-else-if="isImage" :class="cssClasses">
        <img :src="thumbnail" :alt="file.name" ref="imageElement" v-on:click="$emit('click')"/>
    </div>
    <div v-else class="mediaFile">
        <b-alert variant="danger">Unkown mime-type: {{file.metadata.mimeType}}</b-alert>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator';
import { IMetadataEntry } from '@/api';
import { imageUrl } from '@/utils/imageUrl';

interface BooleanMap {
  [key: string]: boolean;
}

@Component({})
export default class MediaFile extends Vue {
  @Prop(Object) public file!: IMetadataEntry;
  @Prop({ type: String, default: null })
  public thumbSpec!: string | null;
  /**
   * Should thumbnails be used for videos (default: true)
   */
  @Prop({ type: Boolean, default: true })
  public videoThumbs!: boolean;
  @Prop(Boolean) public controls!: boolean;
  @Prop(String) public layout?: string;

  public playing = false;

  public get thumbnail(): string {
    return imageUrl(this.file, this.videoThumbs, this.thumbSpec);
  }

  public get isVideo(): boolean {
    return Boolean(this.file.metadata.mimeType.match(/^video\/.*/));
  }

  public get isImage(): boolean {
    return Boolean(this.file.metadata.mimeType.match(/^image\/.*/));
  }

  public get creationDate(): string {
    return new Date(this.file.metadata.creationDate).toLocaleString(navigator.languages[0]);
  }

  public get cssClasses(): BooleanMap {
    const classes: BooleanMap = { mediaFile: true };
    if (this.layout) {
      classes[`mediaFile-${this.layout}`] = true;
    }
    return classes;
  }

  public startVideo() {
    this.playing = true;
  }

  public stopVideo() {
    this.playing = false;
  }

  @Watch('playing')
  public onPlayingChanged(val: boolean) {
    if (this.controls) {
      return; // If controls are displayed, we don't want to mess with the video
    }
    if (val) {
      (this.$refs.video as HTMLVideoElement).play();
    } else {
      (this.$refs.video as HTMLVideoElement).pause();
    }
  }
}
</script>
<style lang="scss">
.mediaFile {
  max-width: 100%;
  max-height: 100%;

  &.mediaFile-fit-box {
    position: relative;
    height: 100%;
    width: 100%;

    & > video,
    & > img {
      position: absolute;
      max-width: 100%;
      max-height: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &.mediaFile-fit-height {
    position: relative;

    & > video,
    & > img {
      height: 100%;
    }

    .video-toggle {
      position: absolute;
      right: 0;
      bottom: 0;
      opacity: 0.7;
    }
  }
}
</style>
