<template>
    <b-navbar toggleable="md" type="dark" variant="dark">
        <b-navbar-nav class="ml-3">
            <b-nav-item to="/files">
                <fa-icon :icon="$icons.faImages.iconName" size="lg"/>
                <span class="ml-2 d-none d-lg-inline">Files</span>
            </b-nav-item>
        </b-navbar-nav>
        <b-navbar-nav class="mx-auto">
            <b-nav-text v-if="$store.state.activeFile">
                <span class="g-iconGroup">
                <span class="ml-2 d-none d-lg-inline">Navigation</span>
               <fa-icon class="g-iconGroup-hover" :icon="$icons.faAngleDoubleLeft.iconName" size="lg"
                        v-on:click="moveActiveFileCursor(-5)"/>
               <fa-icon class="g-iconGroup-hover" :icon="$icons.faAngleLeft.iconName" size="lg"
                        v-on:click="moveActiveFileCursor(-1)"/>
               <fa-icon class="g-iconGroup-hover" :icon="$icons.faAngleRight.iconName" size="lg"
                        v-on:click="moveActiveFileCursor(1)"/>
               <fa-icon class="g-iconGroup-hover" :icon="$icons.faAngleDoubleRight.iconName" size="lg"
                        v-on:click="moveActiveFileCursor(5)"/>
                </span>
            </b-nav-text>
        </b-navbar-nav>
        <b-navbar-nav class="mx-auto">
            <b-nav-text v-if="$store.state.activeFile">
                <span class="g-iconGroup">
                <span class="ml-2 d-none d-lg-inline">File</span>
                   <fa-icon class="g-iconGroup-hover" :icon="$icons.faTrash.iconName" size="lg"
                        v-on:click="moveToTrash()"/>
                   <fa-icon class="g-iconGroup-hover" :icon="$icons.faDownload.iconName" size="lg"
                        v-on:click="download()"/>
                </span>
            </b-nav-text>
        </b-navbar-nav>
        <b-navbar-nav class="float-right">
            <b-nav-text v-if="$store.getters.pendingTasks">
                <SmallBackendStatus/>
            </b-nav-text>
        </b-navbar-nav>
        <b-navbar-nav class="ml-2 float-right">
            <b-nav-text @click="updateIndex">
                <fa-icon :icon="$icons.faSync.iconName" size="lg"/>
                <span class="ml-2 d-none d-lg-inline">Update index</span>
            </b-nav-text>
        </b-navbar-nav>
        <b-navbar-nav class="ml-2 float-right">
            <b-nav-item to="/upload">
                <fa-icon :icon="$icons.faPlusCircle.iconName" size="lg"/>
                <span class="ml-2 d-none d-lg-inline">Upload</span>
            </b-nav-item>
        </b-navbar-nav>
    </b-navbar>
</template>
<script lang="ts">
import SmallBackendStatus from './SmallBackendStatus.vue';
import { Vue, Component } from 'vue-property-decorator';
import store from '../store';
import router from '../router';
import { API_BASE_URL, client } from '@/backend-client';
import { MOVE_TO_TRASH } from '@/store/actions';

@Component({
  components: { SmallBackendStatus },
})
export default class Navigation extends Vue {
  public get files() {
    if (store.state.search == null) {
      return [];
    }
    return store.state.search.results;
  }

  public moveActiveFileCursor(steps: number) {
    const file = store.getters.fileRelativeToActiveFile(steps);
    if (file) {
      router.push({ name: 'details', params: { name: file.name } });
    }
  }

  public moveToTrash() {
    if (
      this.$store.state.activeFile != null &&
      window.confirm('Do you really want to delete ' + this.$store.state.activeFile.name)
    ) {
      this.$store.dispatch(MOVE_TO_TRASH, this.$store.state.activeFile.name);
    }
  }

  public download() {
    const activeFile = this.$store.state.activeFile;
    if (activeFile != null) {
      document.location.href = API_BASE_URL + 'download/' + encodeURIComponent(activeFile.name);
    }
    return null;
  }

  public async updateIndex() {
    try {
      await client.reindex();
      this.$notify({
        type: 'info',
        title: 'Index update started',
      });
    } catch (e) {
      this.$notify({
        type: 'error',
        title: 'Error while starting index update',
        text: e.toString(),
      });
    }
  }
}
</script>
