<template>
    <div :class="{searchResults:true, singleRow}">
        <Thumbnail v-for="file in files"
                   :file="file"
                   :key="file.name"
                   ref="thumbnails"
                   :active="activeFile && file.name === activeFile.name"
                   v-on:click="showDetails(file.name)"
                   thumb-spec="800x200"
                   :height="150"/>
        <b-button class="g-button-wobble" size="lg" variant="primary" v-if="hasMoreFiles" @click="showMore">
                <span>
                    <fa-icon :icon="$icons.faCaretDown.iconName" size="lg"/>
                    more...
                </span>
        </b-button>
    </div>
</template>

<script lang="ts">
import { SEARCH } from '../store/actions';
import Thumbnail from './Thumbnail.vue';
import { Component, Prop, Vue, Watch } from 'vue-property-decorator';
import store from '../store';
import router from '../router';
import { IMetadataEntry } from '@/api';

@Component({
  components: { Thumbnail },
})
export default class SearchResult extends Vue {
  @Prop(Boolean) public singleRow!: boolean;

  @Watch('activeFile')
  public onActiveFileChange(newActiveFile: IMetadataEntry) {
    if (!newActiveFile || !this.$refs.thumbnails || !store.state.search) {
      return;
    }
    const activeIndex = this.$store.state.filenameToIndex[newActiveFile.name];
    const thumbElement = this.$el.children[activeIndex];
    if (thumbElement) {
      const parentBox: DOMRect = this.$el.getBoundingClientRect() as DOMRect;
      const childBox = thumbElement.getBoundingClientRect() as DOMRect;
      this.$emit('activeElement', {
        newActiveFile,
        boundingBox: {
          x: childBox.x - parentBox.x,
          y: childBox.y - parentBox.y,
          width: childBox.width,
          height: childBox.height,
        },
      });
    }

    if (activeIndex + 5 > store.state.search.results.length) {
      this.showMore();
    }
  }

  public mounted() {
    if (store.state.search == null) {
      // Perform initial search
      store.dispatch(SEARCH, { start: 0, limit: 50 });
    }
  }

  public get hasMoreFiles() {
    if (!store.state.search) {
      return false;
    }
    return store.state.search.context.total > this.files.length;
  }

  public get files() {
    if (store.state.search == null) {
      return [];
    }
    return store.state.search.results;
  }

  public showMore(): void {
    if (store.state.search) {
      store.dispatch(SEARCH, { limit: store.state.search.context.limit + 50 });
    }
  }

  public showDetails(name: string) {
    router.push({ name: 'details', params: { name } });
  }

  public get activeFile(): IMetadataEntry | null {
    return store.state.activeFile;
  }
}
</script>
<style lang="scss">
.searchResults {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0px;
}

.searchResults.singleRow {
  flex-wrap: nowrap;
}

.searchResults > * {
  flex-grow: 0;
  margin: 5px;
}
</style>
