<template>
    <span class="g-small-backend-status g-iconGroup">
        <fa-icon :icon="$icons.faTasks.iconName" size="lg" title="Queue"/>
        <span class="d-none d-lg-inline">Queue:</span>
        <span>{{waiting}}</span>
        <fa-icon class="fa-spin" :icon="$icons.faCog.iconName" size="lg" title="Waiting" />
        <span class="d-none d-lg-inline">Running:</span>
        <span>{{running}}</span>
    </span>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import store from '../store';

@Component({})
export default class Navigation extends Vue {
  public get waiting() {
    return store.state.backendStatus.tasks.waiting;
  }

  public get running() {
    return store.state.backendStatus.tasks.running;
  }
}
</script>
<style lang="scss">
.g-small-backend-status {
  align-items: center;
  > svg {
    animation-duration: 20s;
  }
}
</style>
