<template>
    <div :class="{thumbnail: true, active}" :style="cssStyles">
        <MediaFile layout="fit-box" :file="file" :thumbSpec="thumbSpec" v-on:click="$emit('click')"/>
        <div class="metadata">
            <div class="created">{{creationDate}}</div>
            <div class="duration" v-if="duration">Duration: {{duration}}</div>
        </div>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
import { IMetadataEntry } from '@/api';
import MediaFile from './MediaFile.vue';

@Component({ components: { MediaFile } })
export default class Thumbnail extends Vue {
  @Prop(Object) public file!: IMetadataEntry;
  @Prop(String) public thumbSpec!: string;
  @Prop(Boolean) public active!: boolean;
  @Prop(Number) public height!: number;

  public get creationDate(): string {
    return new Date(this.file.metadata.creationDate).toLocaleString(navigator.languages[0]);
  }

  public get duration(): string | null {
    if (this.file.metadata.extents.lengthMs == null) {
      return null;
    }
    return (this.file.metadata.extents.lengthMs / 1000).toFixed(2) + 's';
  }

  public get cssStyles(): object {
    const imageWidth = this.file.metadata.extents.width;
    const imageHeight = this.file.metadata.extents.height;
    const height = this.height;
    // Scale down to compute width. Assumption is that the thumbnail
    // has the same aspect ratio as the original file
    const width = (this.height * imageWidth) / imageHeight;
    return {
      width: width + 'px',
      height: height + 'px',
    };
  }
}
</script>
<style lang="scss">
.thumbnail {
  position: relative;
  margin: 5px;

  &.active {
    box-shadow: 0px 0px 0px 5px #00ff00;

    & > .metadata {
      font-weight: bold;
    }
  }

  & > .metadata {
    overflow: hidden;
    white-space: nowrap;
    font-size: 10pt;
    position: absolute;
    bottom: 0;
    background-color: #000000aa;
    color: white;
    padding: 2px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
  }
}
</style>
