<template>
    <div id="app">
        <Navigation/>
        <notifications position="bottom right"/>
        <div class="g-main-view">
            <transition name="fade">
                <router-view/>
            </transition>
        </div>
    </div>
</template>
<style lang="scss">
</style>
