html,
body {
  height: 100%;
  margin: 0;
}

#app {
  display: flex;
  flex-flow: column;
  height: 100%;

  > .navbar {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: auto;
  }

  > .g-main-view {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    overflow: auto;
    position: relative;
  }
}

