.g-details {
  display: grid;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  align-items: stretch;


  grid-template-columns: 15em auto;
  grid-template-rows: auto 200px;
  grid-template-areas: "facets main" "thumbnails thumbnails";

  @include media-breakpoint-down(md) {
    grid-template-columns: auto;
    grid-template-rows: min-content auto 150px;
    grid-template-areas: "facets" "main" "thumbnails";

    @media (max-device-height: 600px) {
      grid-template-rows: min-content auto 0;
    }
  }

  

  > .g-facet-container {
    grid-area: facets;
  }

  > .g-active-file-outer {
    grid-area: main;
  }

  > .g-thumbnail-bar {
    grid-area: thumbnails;
  }

}

.g-active-file-outer {
  position: relative;
  &:fullscreen {
    position: absolute;
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: 0px;
    background-color: #000;
  }
}

.g-active-file-inner {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  &:fullscreen {
    bottom: 0px;
    margin: 0px;
    background-color: #000;
  }
}

.g-thumbnail-bar {
  height: 100%;
  overflow: hidden;
  display: flex;
  overflow-x: auto;
  align-items: center;
}

.g-thumbnail-bar > .searchResults {
  flex: 1 100 100em;
}

.g-active-file-outer {
  .fade-enter-active {
    transition: opacity 0.25s linear 0s;
  }
  .fade-leave-active {
    transition: opacity 0.25s linear 0.25s;
  }

  .fade-enter {
    opacity: 0;
  }
  .fade-leave-to {
    opacity: 0;
  }
}
