.g-files {
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  align-items: stretch;

  > .g-facet-container {
    width: 15em;
  }

  > .g-search-results {
    overflow-y: auto;
  }

  @include media-breakpoint-down(md) {
    flex-direction: column;
    > .g-facet-container {
      width: 100%;
    }

    > .g-search-results {
      width: 100%;
    }
  }
}
