// Modify bootstrap styles through variables
$body-bg: #eee;

// Include bootstrap
@import "~bootstrap/scss/bootstrap.scss";
@import "./app.scss";
@import "./facets.scss";
@import "./files.scss";
@import "./details.scss";

// Add custom styles
.g-iconGroup {
  display: inline-flex;
  border-radius: 5px;
  border: 1px solid currentColor;
  margin: -0.25em;
  align-items: center;

  & > svg {
    margin: 0.25em;
  }

  & > span {
    margin-right: 0.25em;
  }

  & > .g-iconGroup-hover:hover {
    color: white;
  }
}

.g-button-wobble span {
  display: block;
  animation-name: wobble;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes wobble {
  0% { transform: scale(1,1); }
  90% { transform: scale(1,1); }
  95% { transform: scale(1.2,1.2)}
  97% { transform: scale(1,1)}
  99% { transform: scale(1.1,1.1)}
  100% { transform: scale(1,1)}
}

